20-189-73-166.nip.io {
    # ส่ง API /logs และ /ingest ไปที่ Backend
    handle /logs* {
        reverse_proxy log_backend:3000
    }
    
    handle /ingest* {
        reverse_proxy log_backend:3000
    }

    # เส้นทางอื่นๆ ทั้งหมด ส่งไปที่หน้าเว็บ
    handle {
        reverse_proxy log_frontend:3000
    }
}