name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.AZURE_HOST }}
          username: ${{ secrets.AZURE_USERNAME }}
          key: ${{ secrets.AZURE_SSH_KEY }}
          # คำสั่งที่จะไปรันบนเครื่อง Azure อัตโนมัติ
          script: |
            cd ~/log-project
            git pull origin main
            
            # สร้างไฟล์ .env ฝั่ง backend และยัด Webhook ลงไป
            echo "DISCORD_WEBHOOK_URL=${{ secrets.DISCORD_WEBHOOK }}" > backend/.env
            
            # สั่ง Build และ Run ระบบใหม่
            docker compose build
            docker compose up -d